
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>

<h3>Aman aman nereye geldik </h3>
<table><tr>
    <th>ID</th>
    <th>AD</th>
    <th>Departman</th>
</tr>
<tr>
    <td>1</td>
    <td>Mustafa</td>
    <td>KEybord</td>
</tr>
<tr>
    <td>2</td>
    <td>Eylul</td>
    <td>Hukuk</td>
</tr></table>